
html{
  height:100%;
  margin:0;
  padding:0;
}

html, body {
  height:100%;
}

#container {
  min-height:100%;
}

#main {
  overflow:auto;
  padding-bottom:99px;
}

#footer {
  background-color:#555555;
  position:relative;
  height:99px;
  margin-top:-99px;
  clear:both;
  border-top:#DFDFDF 2px solid;
}


body {
  font: 15px/1.8 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  height:100%;
  background-color:#F1F1F1;
}

body .highlight {
  font: 30px/2 Arial, Helvetica,sans-serif;
}

/*GLOBAL*/
.container {
  min-height:100%;
  width:80%;
  margin: auto;
  overflow: hidden;
}

.header ul{
  padding:0;
  margin:0;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:40px;
  margin-bottom:10px;
}

/*HEADER*/
header{
  background:#ffffff;
  min-height:70px;
  border-bottom:#DFDFDF 2px solid;
}

header a{
  color:#565151;
  text-decoration:none;
  text-transform: full-width;
  font-size:20px;
}

header li{
  float: left;
  display: inline;
  padding:0 18px 0 18px;
}

header .Logo{
  float: left;
}

header nav{
  float: right;
  padding-top:18px;
}

header .highlight{
  color:#A7A7A7;
}

header .Famila{
  color:#E3A603;
}

header .Famila, header .current a{
  color:#E3A603;
}

header a:hover{
  color:#FAD97E;
  font-weight:bold;
  -webkit-transition:#FDE9BC 2s ease-out;
}

header a{
  transition: all 300ms ease-in-out 0.1s;
  font-weight: bold;
}

/*showcase*/

.cheers {
  animation: FadeIn 4s;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#Main-Showcase{
  min-height:400px;
  text-align:center;
  color:#000000;
  font-size:35px;
}

section .cheers {
  color:#ECA02B;
  margin-top:650px;
  font-size:55px;
  margin-bottom:60px;
}

footer p{
  margin-top:35px;
  text-align:center;
  color:#E3A603;
}

/*About-section*/



/*login-boxes*/

.box {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:450px;
  height:550px;
  padding:40px;
  background:rgba(0,0,0,.8);
  box-sizing:border-box;
  box-shadow:0 15px 25px rgba(0,0,0,.5);
  border-radius:7px;
}

.user{
  border-radius: 50%;
  height:110px;
  width:110px;
  overflow:hidden;
  position:absolute;
  top:calc(-110px/2);
  left:calc(50% - 55px);
}

.box h1{
  margin:0 0 30px;
  padding:0;
  color:#E3A603;
  text-align:center;
  font-size:30px;
  margin:60px;
}

.box .inputbox {
  position:relative;
}

.box .inputbox input{
  width:100%;
  padding: 10px 0px;
  font-size: 16px;
  color:#FFF;
  letter-spacing:1px;
  margin-bottom:10px;
  border:none;
  border-bottom:1px solid #fff;
  outline:none;
  background:transparent;
}

.box .inputbox label{
  position:absolute;
  top:0;
  left:0;
  padding: 10px 0px;
  font-size: 16px;
  color:#FFF;
  transition:0.5s;
}

.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label{
  top:-22px;
  left:0;
  color:#E3A603;
  font-size:15px;
}

.box input[type="submit"]{
  background:transparent;
  border:none;
  border-bottom:1px;
  outline:none;
  background:#6A6868;
  padding:15px 35px;
  cursor:pointer;
  border-radius:100px;
  margin-left: 117px;
  margin-top:50px;
  font-weight:bolder;
  font-size:20px;
}

.box input[type="submit"]:hover{
  background:#E3A603;
  transition:400ms ease-in-out 0.1s;
}
